@using Telerik.Web.Mvc.UI
@using BExIS.Modules.FMT.UI.Models


@model List<FileModel>

@using (Html.BeginForm("FileList", "BaseFileManagement", new
{
    area = "FMT"
}, FormMethod.Get))
{
    if (Model.Any())
    {

        <table>
            <tr><th>File name</th><th>Size</th><th>Date</th><th>Delete</th>
            </tr>
            @foreach (FileModel file in Model)
            {
                string filesize;
                if (file.Length > 1048576)
                {
                    filesize = (file.Length / 1048576).ToString() + " MB";
                }
                else
                {
                    filesize = (file.Length).ToString() + " Kb";
                }

                <tr>
                    <td>@Html.ActionLink(linkText: file.Filename, actionName: "DownloadFile", controllerName: "BaseAdminFileManagement", routeValues: new { path = file.Filepath, mimeType = file.MimeType }, htmlAttributes: null)</td>
                    <td>@filesize</td>
                    <td>@file.Date.ToString("dd-MM-yyyy")</td>
                    @if (file.HasRights)
                    {
                    <td>
                        <div class="bx bx-grid-function bx-trash" id="btnDelete" onclick="DeleteFMTFile('@file.Filepath')"></div>
                    </td>
                    }
                </tr>
            }

        </table>
    }
   else
    {
        <span>No files.</span>
    }
}
<script type="text/javascript">
    function DeleteFMTFile(path)
    {
    alert(path);
        if (confirm("Are you sure you want to delete ?"))
        {
            $.get('@Url.Action("DeleteFile", "BaseAdminFileManagement")', { filePath: path }, function (data) {
                parent.loadFilesAndUploader();
                // location.reload();
            });
        }
    }


</script>
